*{
    margin: 0%;
    padding: 0%;
}
.titulo{
    text-align: center;
    font-size: 3rem;
    padding-top: 10px;
}

a{
    color: black;
    list-style: none;
    text-decoration: none;
}

.carritoContainer{
    display: flex;
    justify-content: left;
    padding: 2px, 2px, 30px, 650px;

}

.textoParrafo{
    text-align: center;
    font-size: 1rem;
}

.subTitulo{
    font-size: 1rem;
}

header {
    padding: 1rem 0;
  }
  
  .main-content {
    margin-top: 2rem;
  }
  
  .product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem 0;
    margin: 1rem 0;
  }
  
  .product-detail {
    padding: 0 2rem;
  }
  
  .product-price {
    font-weight: bold;
    font-size: 140%;
  }