*{
    margin: 0%;
    padding: 0%;
}
.titulo{
    text-align: center;
    font-size: 3rem;
    padding-top: 10px;
}

a{
    color: black;
    list-style: none;
    text-decoration: none;
}

.carritoContainer{
    display: flex;
    justify-content: left;
    padding: 2px, 2px, 30px, 650px;

}

.textoParrafo{
    text-align: center;
    font-size: 1rem;
}